// COLORS
$color-primary: orangered;

// DELIVERY SECTION COLORS
$delivery-bg-color: #004047;
$delivery-text-color: #FFFFFF ;
$delivery-subtitle-color: #79C8C7;
// BUILD SECTION COLORS
$build-bg-color:#012F34;

// FONTS
$font-stack: "Livvic", "Arial", sans-serif;